* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.main_box {
    background-image: url("../image/pexels-ian-panelo-7649580.jpg");
    height: 100vh;
    background-size: cover;
    object-position: center;
}

.btn_one i {
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.sidebar_menu {
    position: fixed;
    left: -300px;
    height: 100%;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    transition: 0.5s linear;

}

.sidebar_menu .logo {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 60px;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
}

.sidebar_menu .logo a {
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}

.sidebar_menu .btn_two i {
    color: grey;
    font-size: 20px;
    line-height: 60px;
    position: absolute;
    left: 270px;
    opacity: 0;
    cursor: pointer;
}

.sidebar_menu .menu {
    color: white;
    position: absolute;
    top: 80px;
    width: 100%;
}

.sidebar_menu .menu li {
    margin-top: 6px;
    padding: 14px 20px;
}

.sidebar_menu .menu i,
a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.sidebar_menu .menu i {
    padding-right: 8px;
}

.sidebar_menu .social_media {
    display: flex;

    position: absolute;
    left: 25%;
    bottom: 25px;
}

.sidebar_menu .social_media i {

    color: white;
    opacity: 0.5;
    padding: 0 5px;

}

#check {
    display: none;
}

.sidebar_menu .menu li:hover {
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);

}

.btn_one i:hover {
    cursor: pointer;
    font-size: 40px;
}

.btn_two i:hover {
    font-size: 40px;
}

.sidebar_menu .social_media i:hover {
    opacity: 1;
    transform: scale(1.2);
}

#check:checked~.sidebar_menu {
    position: fixed;
    left: 0px;

}
#check:checked~.btn_one i{
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}